@import "../../styles/colors.scss";

.backButton {
  background: transparent;
  color: $mintGreen;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
  margin: 30px 0;
}
