@import "../styles/colors.scss";

.quotesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > a {
    text-decoration: none;
  }

  .quotes {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.factContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: 800px;
}
